{
  "pid": "{http:\/\/ns.tibco.com\/tci\/sharedresource\/sqsclient}SQSClientConfiguration.cf6147b2-fe95-4f80-825e-0f224c81459a",
  "properties": {
    "ResponseMetadataCacheSize": {
      "name": "ResponseMetadataCacheSize",
      "value": 50,
      "type": "java.lang.Integer"
    },
    "UseGzip": {
      "name": "UseGzip",
      "value": false,
      "type": "java.lang.Boolean"
    },
    ".name": {
      "name": ".name",
      "value": "sqs.AmazonSQSSNSConnectionResource",
      "type": "java.lang.String"
    },
    ".deployment.name": {
      "name": ".deployment.name",
      "value": "SQS.application",
      "type": "java.lang.String"
    },
    "SocketBufferSizeHints": {
      "name": "SocketBufferSizeHints",
      "value": 0,
      "type": "java.lang.Integer"
    },
    "ConnectionTTL": {
      "name": "ConnectionTTL",
      "value": -1,
      "type": "java.lang.Integer"
    },
    "TokenExpirationDuration": {
      "name": "TokenExpirationDuration",
      "value": 60,
      "type": "java.lang.Integer"
    },
    ".public": {
      "name": ".public",
      "value": false,
      "type": "java.lang.Boolean"
    },
    "service.factoryPid": {
      "name": "service.factoryPid",
      "value": "{http:\/\/ns.tibco.com\/tci\/sharedresource\/sqsclient}SQSClientConfiguration",
      "type": "java.lang.String"
    },
    ".type.ConnectionMaxIdleMs": {
      "name": ".type.ConnectionMaxIdleMs",
      "value": "java.lang.Integer",
      "type": "java.lang.String"
    },
    ".ns2locMap": {
      "name": ".ns2locMap",
      "value": {},
      "type": "java.util.Map"
    },
    ".bundle.name": {
      "name": ".bundle.name",
      "value": "SQS",
      "type": "java.lang.String"
    },
    ".type.Protocol": {
      "name": ".type.Protocol",
      "value": "java.lang.String",
      "type": "java.lang.String"
    },
    ".bundle.id": {
      "name": ".bundle.id",
      "value": 287,
      "type": "java.lang.Long"
    },
    ".type.MaxErrorRetry": {
      "name": ".type.MaxErrorRetry",
      "value": "java.lang.Integer",
      "type": "java.lang.String"
    },
    "AuthType": {
      "name": "AuthType",
      "value": "AWS Credentials",
      "type": "java.lang.String"
    },
    ".type.SocketTimeout": {
      "name": ".type.SocketTimeout",
      "value": "java.lang.Integer",
      "type": "java.lang.String"
    },
    ".type.IdpUseProxy": {
      "name": ".type.IdpUseProxy",
      "value": "java.lang.Boolean",
      "type": "java.lang.String"
    },
    "RequestTimeout": {
      "name": "RequestTimeout",
      "value": 0,
      "type": "java.lang.Integer"
    },
    "IdpUseProxy": {
      "name": "IdpUseProxy",
      "value": false,
      "type": "java.lang.Boolean"
    },
    ".rev": {
      "name": ".rev",
      "value": 1,
      "type": "java.lang.Integer"
    },
    "MaxConnections": {
      "name": "MaxConnections",
      "value": 50,
      "type": "java.lang.Integer"
    },
    "ConnectionMaxIdleMs": {
      "name": "ConnectionMaxIdleMs",
      "value": 60000,
      "type": "java.lang.Integer"
    },
    ".deployment.version": {
      "name": ".deployment.version",
      "value": "1.0",
      "type": "java.lang.String"
    },
    ".type.ClientConfig": {
      "name": ".type.ClientConfig",
      "value": "java.lang.String",
      "type": "java.lang.String"
    },
    "service.pid": {
      "name": "service.pid",
      "value": "{http:\/\/ns.tibco.com\/tci\/sharedresource\/sqsclient}SQSClientConfiguration.cf6147b2-fe95-4f80-825e-0f224c81459a",
      "type": "java.lang.String"
    },
    ".type.ConnectionTimeout": {
      "name": ".type.ConnectionTimeout",
      "value": "java.lang.Integer",
      "type": "java.lang.String"
    },
    "Region": {
      "name": "Region",
      "value": "us-east-2",
      "type": "java.lang.String"
    },
    ".type.UseGzip": {
      "name": ".type.UseGzip",
      "value": "java.lang.Boolean",
      "type": "java.lang.String"
    },
    "ConnectionTimeout": {
      "name": "ConnectionTimeout",
      "value": 50000,
      "type": "java.lang.Integer"
    },
    ".type.UseExpectContinue": {
      "name": ".type.UseExpectContinue",
      "value": "java.lang.Boolean",
      "type": "java.lang.String"
    },
    "PreemptiveBasicProxyAuth": {
      "name": "PreemptiveBasicProxyAuth",
      "value": false,
      "type": "java.lang.Boolean"
    },
    ".isresource": {
      "name": ".isresource",
      "value": "true",
      "type": "java.lang.String"
    },
    "UseReaper": {
      "name": "UseReaper",
      "value": true,
      "type": "java.lang.Boolean"
    },
    ".type.Region": {
      "name": ".type.Region",
      "value": "java.lang.String",
      "type": "java.lang.String"
    },
    ".type.ConnectionTTL": {
      "name": ".type.ConnectionTTL",
      "value": "java.lang.Integer",
      "type": "java.lang.String"
    },
    ".type.UseReaper": {
      "name": ".type.UseReaper",
      "value": "java.lang.Boolean",
      "type": "java.lang.String"
    },
    ".type.SocketBufferSizeHints": {
      "name": ".type.SocketBufferSizeHints",
      "value": "java.lang.Integer",
      "type": "java.lang.String"
    },
    "ClientExecutionTimeout": {
      "name": "ClientExecutionTimeout",
      "value": 0,
      "type": "java.lang.Integer"
    },
    ".type.KeyId": {
      "name": ".type.KeyId",
      "value": "java.lang.String",
      "type": "java.lang.String"
    },
    ".type.AuthType": {
      "name": ".type.AuthType",
      "value": "java.lang.String",
      "type": "java.lang.String"
    },
    ".type": {
      "name": ".type",
      "value": "{http:\/\/ns.tibco.com\/tci\/sharedresource\/sqsclient}SQSClientConfiguration",
      "type": "java.lang.String"
    },
    ".enabled": {
      "name": ".enabled",
      "value": "true",
      "type": "java.lang.String"
    },
    "IdpName": {
      "name": "IdpName",
      "value": "PingFederate",
      "type": "java.lang.String"
    },
    "KeySecret": {
      "name": "KeySecret",
      "value": "#!Bm+XnOIZ01Hq+olkJfVS7JGEjd0pQ4Lxy5f9q7Z2LrxJdkDDrN6fHEwFdImsBJAu5EHLdHYfFNlsCpn49LWQP53ylBFNsj8sEbs6J7tgFUjqjNQJHA7+yzn+U4OP0M2E",
      "type": "java.lang.String"
    },
    ".type.UseTcpKeepalive": {
      "name": ".type.UseTcpKeepalive",
      "value": "java.lang.Boolean",
      "type": "java.lang.String"
    },
    "SocketTimeout": {
      "name": "SocketTimeout",
      "value": 50000,
      "type": "java.lang.Integer"
    },
    ".type.KeySecret": {
      "name": ".type.KeySecret",
      "value": "java.lang.String",
      "type": "java.lang.String"
    },
    "Protocol": {
      "name": "Protocol",
      "value": "HTTP",
      "type": "java.lang.String"
    },
    "ClientConfig": {
      "name": "ClientConfig",
      "value": "Default",
      "type": "java.lang.String"
    },
    ".bundle.version": {
      "name": ".bundle.version",
      "value": "1.0.0.qualifier",
      "type": "java.lang.String"
    },
    "MaxErrorRetry": {
      "name": "MaxErrorRetry",
      "value": 5,
      "type": "java.lang.Integer"
    },
    ".type.RequestTimeout": {
      "name": ".type.RequestTimeout",
      "value": "java.lang.Integer",
      "type": "java.lang.String"
    },
    "UseTcpKeepalive": {
      "name": "UseTcpKeepalive",
      "value": false,
      "type": "java.lang.Boolean"
    },
    ".type.PreemptiveBasicProxyAuth": {
      "name": ".type.PreemptiveBasicProxyAuth",
      "value": "java.lang.Boolean",
      "type": "java.lang.String"
    },
    ".type.ResponseMetadataCacheSize": {
      "name": ".type.ResponseMetadataCacheSize",
      "value": "java.lang.Integer",
      "type": "java.lang.String"
    },
    "KeyId": {
      "name": "KeyId",
      "value": "AKIATWAIH3FQZ3QOJJVW",
      "type": "java.lang.String"
    },
    ".type.MaxConnections": {
      "name": ".type.MaxConnections",
      "value": "java.lang.Integer",
      "type": "java.lang.String"
    },
    ".type.ClientExecutionTimeout": {
      "name": ".type.ClientExecutionTimeout",
      "value": "java.lang.Integer",
      "type": "java.lang.String"
    },
    ".type.IdpName": {
      "name": ".type.IdpName",
      "value": "java.lang.String",
      "type": "java.lang.String"
    },
    ".type.TokenExpirationDuration": {
      "name": ".type.TokenExpirationDuration",
      "value": "java.lang.Integer",
      "type": "java.lang.String"
    },
    ".type.ProxyPort": {
      "name": ".type.ProxyPort",
      "value": "java.lang.Integer",
      "type": "java.lang.String"
    },
    ".deployment.type": {
      "name": ".deployment.type",
      "value": "application",
      "type": "java.lang.String"
    },
    "ProxyPort": {
      "name": "ProxyPort",
      "value": 0,
      "type": "java.lang.Integer"
    },
    "UseExpectContinue": {
      "name": "UseExpectContinue",
      "value": false,
      "type": "java.lang.Boolean"
    }
  }
}