{
  "pid": "{http:\/\/ns.tibco.com\/tci\/sharedresource\/sqsclient}SQSClientConfiguration.factory",
  "properties": {
    "factory.pid": {
      "name": "factory.pid",
      "value": "{http:\/\/ns.tibco.com\/tci\/sharedresource\/sqsclient}SQSClientConfiguration",
      "type": "java.lang.String"
    },
    "factory.pidList": {
      "name": "factory.pidList",
      "value": [{
        "value": "{http:\/\/ns.tibco.com\/tci\/sharedresource\/sqsclient}SQSClientConfiguration.cf6147b2-fe95-4f80-825e-0f224c81459a",
        "type": "java.lang.String"
      }],
      "type": "[Ljava.lang.String;"
    }
  }
}