{
  "pid": "bw.resource.jdbc.factory",
  "properties": {
    "factory.pid": {
      "name": "factory.pid",
      "value": "bw.resource.jdbc",
      "type": "java.lang.String"
    },
    "factory.pidList": {
      "name": "factory.pidList",
      "value": [{
        "value": "bw.resource.jdbc.fbe9368c-2a6f-4fc8-a2d1-063118ea8f0f",
        "type": "java.lang.String"
      }],
      "type": "[Ljava.lang.String;"
    }
  }
}